* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: rgb(240, 239, 233);
    --clr-gray: rgb(187, 187, 187);
    --clr-accent1: rgb(60, 88, 247);
}

body {
    display: grid;
    grid-template: auto 1fr / 1fr 4fr;
    grid-template-areas: "sidebar header" "sidebar main";
    background-color: var(--clr-gray);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: var(--clr-accent1);
    color: var(--clr-white);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
}

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    display: grid;
    grid-template: auto / 2rem 1fr;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--clr-white);
    justify-self: center;
}

.sidebar ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
    display: grid;
    gap: 1.2rem;
}

.sidebar ul > li {
    display: grid;
    grid-template: auto / 2rem 1fr;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 1rem;
    height: 1rem;
    background-color: var(--clr-white);
    justify-self: center;
}


header {
    background-color: var(--clr-white);
    grid-area: header;
}

main {
    grid-area: main;
}